body{
    background-image: url("pexels-photo-1072179.jpg");
    background-size: cover;
    background-position: center;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
}
.note{
    font-size: 15px;
    color: yellow;
}
canvas{
    border: 5px dotted black;
}